{% autoescape None %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Parrot</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="William Gaul">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600|Open+Sans+Condensed:300,600&amp;v2" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{ static_url("css/app.css") }}" type="text/css" media="all">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="shortcut icon" href="{{ static_url("img/favicon.ico") }}">
</head>
<body class="index">
	<div id="wrap">
		<header>
			<section>
				<div>
					<a id="logo" href="/"><img src="{{ static_url("img/logo.svg") }}" width="572" height="102"></a>
					<nav>
						<a href="/help">Help</a>
						<a href="/profile">{{ username }}</a>
						<a href="/logout">Log Out</a>
						<span class="loading"></span>
					</nav>
				</div>
			</section>
		</header>
		<div id="torso">
			<div id="content">
				<p class="intro">Type into the field below!</p>
				<form id="omnibar" action="/search" method="post">
					<input id="search" type="text" placeholder="What do?" name="terms">
				</form>
				<div class="highlights">
					<div class="section current">
						<h2>Current <i class="fa fa-clock-o"></i></h2>
						<p>Jobs that are still in progress</p>
						{% if not current %}
							No jobs are currently running.
						{% else %}
							<ul>
								{% for job in current %}
									<li>
										<a href="#">{{ job.name }}</a>
										{% if job.streaming %}
											<span class="versions only" title="Streaming job">S</span>
										{% end %}
									</li>
								{% end %}
							</ul>
						{% end %}
					</div>
					<div class="section historical">
						<h2>Historical <i class="fa fa-check"></i></h2>
						<p>Jobs that have finished already</p>
						{% if not historical %}
							There are no historical jobs.
						{% else %}
							<ul>
								{% for job in historical %}
									<li>
										<a href="#">{{ job.name }}</a>
										{% if job.streaming %}
											<span class="versions only" title="Streaming job">S</span>
										{% end %}
									</li>
								{% end %}
							</ul>
						{% end %}
					</div>
					<div class="section statistics">
						<h2>Statistics <i class="fa fa-leaf"></i></h2>
						<p>Info about Parrot's inner workings</p>
						<ul>
							<li>
								<a href="#">Fake Job 10</a>
								<span class="package_count">115</span>
							</li>
							<li>
								<a href="#">Rate Limits</a>
							</li>
						</ul>
					</div>
					<div class="section resources">
						<h2>Resources <i class="fa fa-external-link-square"></i></h2>
						<p>External links to important things</p>
						<ul>
							<li>
								<a href="#">Fake Job 10</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<section>
			Copyright &copy; <script>document.write(new Date().getFullYear());</script>
			<a id="hichi" href="http://manoa.hawaii.edu/hichi/index.html">HICHI</a>
		</section>
	</footer>
	<script src="{{ static_url("js/jquery-1.11.0.min.js") }}"></script>
	<script src="{{ static_url("js/app.js") }}"></script>
</body>
</html>